In [3]:
import pandas as pd
import numpy as np

In [178]:
df.head(5)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
0,Flat System House On Sale At Budhanikantha : H...,"Budhanikantha, Budhanilkantha, Kathmandu",Kathmandu,90000000,6,3,2.0,10,West,2073.0,17,1-0-0-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,18-0-0-0 Aana,11 hours ago,"['Parking', 'Lawn', 'Garage', 'Frontyard', 'Fe..."
1,21 Aana Beautiful House : House For Sale In Bu...,"Pasikot, Budhanilkantha, Kathmandu",Kathmandu,80000000,5,3,2.0,9,East,2073.0,26,0-21-0-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,0-14-0-0 Aana,12 hours ago,"['Parking', 'Garage', 'Fencing', 'Frontyard', ..."
2,Beautiful To Floor House : House For Sale In D...,"Dhapasi, Dhapasi, Kathmandu",Kathmandu,70000000,5,3,2.0,12,East,2071.0,154,1-1-0-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,10-1-0-0 Aana,2 days ago,"['Parking', 'Lawn', 'Garage', 'Frontyard', 'Fe..."
3,Modern Architecture Bungalow House : House For...,"baluwatar, Baluwatar, Kathmandu",Kathmandu,130000000,6,4,3.0,9,West,2017.0,17,0-10-1-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,0-7-1-0 Aana,1 day ago,"['Parking', 'Lawn', 'Garage', 'Frontyard', 'Fe..."
4,Modern Bungalow House : House For Sale In Golf...,"Golfutar, Golfutar, Kathmandu",Kathmandu,100000000,6,3,2.0,10,East,2070.0,59,0-19-2-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,0-14-2-0 Aana,2 days ago,"['Parking', 'Lawn', 'Garage', 'Balcony', 'Back..."

In [211]:
df.count()

Title         2211
Address       2211
City          2211
Price         2211
Bedroom       2211
Bathroom      2211
Floors        1039
Parking       2211
Face          2211
Year           582
Views         2211
Area          2211
Road          2211
Road Width    2211
Road Type     1426
Build Area    2211
Posted        2211
Amenities     2211
dtype: int64

In [224]:
df=pd.read_csv('house.csv')

In [207]:
df.loc[:,'Build Area'].dropna()

0       18-0-0-0 Aana
1       0-14-0-0 Aana
2       10-1-0-0 Aana
3        0-7-1-0 Aana
4       0-14-2-0 Aana
            ...
2206     N/A Sq. Feet
2207     N/A Sq. Feet
2208     N/A Sq. Feet
2209     N/A Sq. Feet
2210          13 Aana
Name: Build Area, Length: 2211, dtype: object

In [163]:
a=[1,2,3,4,5]
df=pd.DataFrame(a)
df.empty

False

In [165]:
a=pd.Series()
a.empty

True

In [194]:

df.loc[:,'Year'].unique()

array([2073., 2071., 2017., 2070., 2074., 2019., 2065., 2075., 2076.,
       2056.,   nan, 2069., 2018., 2067., 2068., 2077., 2020., 2003.,
       2013., 2058., 2010., 2014., 2009., 2012., 2001., 2000., 2015.,
       2072., 2002., 2016., 2007., 2066., 2050., 2064., 2006., 2045.,
       2060., 2005., 2049., 2063., 2062., 2052., 2011., 2059., 2042.,
       2046., 2044., 2025., 1994.])

In [240]:
df.loc[df['Build Area']=='N/A Ropani']

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
175,"Land For Sale In Bode, Bhaktapur","Nilbarahi Bode, Bhaktapur, Bode, Bhaktapur",Bhaktapur,2200000,0,0,NaN,0,East,NaN,72,0-11-1-3 Ropani,13 Feet,13 Feet,NaN,N/A Ropani,1 month ago,[]
873,5 Ropani Land For Sale At Golfutar! : Land For...,"Golfutar basketball ground, Golfutar, Kathmandu",Kathmandu,3800000,0,0,NaN,0,West,NaN,433,5-0-0-0 Ropani,20 Feet / Blacktopped,20 Feet,Blacktopped,N/A Ropani,7 months ago,[]
925,"Land For Sale In Dahachowk, Khahare, Kathmandu","Khahare chowk dahachowk, Dahachowk, khahare, K...",Kathmandu,1450000,0,0,NaN,0,North East,NaN,803,10-0-0-0 Ropani,6 Meter / Gravelled,6 Meter,Gravelled,N/A Ropani,7 months ago,"['Garden', 'Drainage', 'Water Well', 'Electric..."
929,"Land For Lease In DDC Chowk, Biratnagar","ddc chowk, DDC Chowk, Biratnagar",Biratnagar,30000,0,0,NaN,0,East,NaN,134,1-0-0-0 Ropani,0 Feet,0 Feet,NaN,N/A Ropani,7 months ago,[]
1053,"Land For Sale In Rupakot, Kaski","kaski , rupakot, Rupakot, Kaski",Kaski,800000,0,0,NaN,0,East,NaN,451,30 Ropani,20 Feet / Soil Stabilized,20 Feet,Soil Stabilized,N/A Ropani,8 months ago,[]
1119,"Land For Sale In Patan, Lalitpur","Chyasal gate, Patan, Lalitpur",Lalitpur,4000000,0,0,NaN,0,North,NaN,267,3 Ropani,20 Feet / Blacktopped,20 Feet,Blacktopped,N/A Ropani,8 months ago,[]
1120,"Land For Sale In Koteshwor, Kathmandu","Koteshwor, Koteshwor, Kathmandu",Kathmandu,5000000,0,0,NaN,0,South,NaN,210,1 Ropani,20 Feet / Blacktopped,20 Feet,Blacktopped,N/A Ropani,8 months ago,[]
1539,"House For Sale In Kalanki, Kathmandu","Nearby, Makalu Petrol Pump, Kalanki, Kathmandu",Kathmandu,6750000,7,5,3.0,3,North East,NaN,14.2K,0-13-1-2 Ropani,15 Feet / Blacktopped,15 Feet,Blacktopped,N/A Ropani,10 months ago,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
1857,"House For Sale In Maharajgunj, Kathmandu","Near Chappal Factory, Maharajgunj, Kathmandu",Kathmandu,180000000,0,0,3.0,0,South East,NaN,4.1K,3.5 Ropani,13 Feet,13 Feet,NaN,N/A Ropani,1 year ago,"['Garage', 'Balcony', 'Garden', 'Modular Kitch..."
1911,"Land For Sale In Dhading, Dhading","Gajuri, Dhading, Dhading",Dhading,400000,0,0,NaN,0,South,NaN,303,80 Ropani,15 Feet,15 Feet,NaN,N/A Ropani,1 year ago,[]
1970,"House For Rent In Budhanilkantha, Kathmandu","Narayanthan, Budhanilkantha, Kathmandu",Kathmandu,400000,4,5,3.0,10,South East,NaN,799,3 Ropani,13 Feet,13 Feet,NaN,N/A Ropani,1 year ago,"['Garage', 'Balcony', 'Garden', 'TV Cable', 'W..."

In [244]:
df.loc[:,'Build Area'].unique()

array(['18-0-0-0 Aana', '0-14-0-0 Aana', '10-1-0-0 Aana', '0-7-1-0 Aana',
       '0-14-2-0 Aana', '0-8-3-1 Aana', '0-6-5-0 Aana', '0-9-3-2 Aana',
       '2394 Aana', '7 Aana', '2500 Aana', '2700 Sq. Feet',
       '2100 Sq. Feet', '2700 Aana', '112 Sq. Meter', '3-0-2 Aana',
       '4 Aana', '2200 Sq. Feet', '2000 Sq. Feet', '3 Aana',
       '4000 Sq. Feet', '0-3-1-2 Sq. Feet', '1736 Dhur', '3500 Aana',
       '0-4-0-0 Aana', '1900 Sq. Feet', '2500 Sq. Feet', '750 Aana',
       '650 Sq. Feet', '990 Sq. Feet', '950 Sq. Feet', '6.25 Dhur',
       '0-4.0.0 Aana', '0-3-2-0 Aana', '1650 Sq. Feet', '1195 Sq. Feet',
       '10 Aana', '1100 Aana', '5 Aana', '850 Sq. Feet', '0.5.3.0 Aana',
       '1583 Sq. Feet', '1280 Sq. Feet', '4 Sq. Feet', '1200 Sq. Feet',
       '1350 Sq. Feet', '0-2-2-1 Aana', '1-1-0 Ropani',
       '95/16/11/7 Ropani', '3.2 Aana', '646 Sq. Feet', '0-5-1 Aana',
       '14 Aana', '1500 Sq. Feet', '3922.08 Sq. Feet', '5000 Sq. Feet',
       '3600 Sq. Feet', '2.5 Aana', '4100 Sq. Feet', 'N/A Kattha',
       'N/A Dhur', '2300 Sq. Feet', '2200 Aana', '1200 Aana',
       '0-12-2-0 Aana', '16-4-0-0 Aana', '52-10-3-2 Aana',
       '3-10-1-0 Ropani', '2-1-2-0 Aana', '0-4-0 Sq. Feet',
       '2380 Sq. Feet', '8 Aana', '6 Aana', '10 Dhur', '2067 Aana',
       '530 Sq. Feet', '3200 Sq. Feet', '2850 Aana', '550 Sq. Feet',
       '0-3-0-0 Aana', '350 Sq. Feet', '0-2-2-0 Aana', '1969.43 Sq. Feet',
       '2076 Aana', '3000 Sq. Feet', '0-7-0-0 Aana', '7 Kattha',
       '555 Sq. Feet', '16 Aana', '1400 Sq. Feet', '0-0-3 Aana',
       '1798 Sq. Feet', '200 Sq. Feet', '500 Sq. Feet', '0-3-0 Aana',
       '4.5 Aana', '2000 Aana', '6.5 Aana', '0-4-0-0 Sq. Feet',
       '1704 Sq. Feet', '0-5-0-0 Aana', '800 Sq. Feet', '2390.65 Aana',
       '2600 Aana', '26 Dhur', '200 Sq. Meter', '1600 Sq. Feet',
       '0-3-7-0 Aana', '1180 Sq. Feet', '0-4-0-0 / 322 Aana', '1 Aana',
       '1340 Sq. Feet', '2450 Aana', '11 Ropani', '790 Sq. Feet',
       '8000 Sq. Feet', '3500 Sq. Feet', '1026 Aana', '12 Ropani',
       '30 Ropani', '1800 Sq. Feet', '10935 Sq. Feet', '700 Sq. Feet',
       '151 Sq. Feet', '24000 Aana', '2.75 Aana', '7000 Aana',
       '1259 Sq. Feet', '11 Aana', '2000. Aana', '1700 Aana', '12 Aana',
       '185 Sq. Meter', '0-3-2-1 Aana', '1-0-0-0 Aana', '3.1 Aana',
       '5500 Sq. Feet', '3-4 Aana', '4-5 Aana', '2 Aana', '95 Aana',
       '1530 Sq. Feet', '0-0-2 Paisa', '4800 Sq. Feet', '27 Aana',
       '1138 Sq. Feet', '2-3 Aana', '3 1/2 Aana', '3525 Sq. Feet',
       '3-5 Sq. Feet', '3.5 Aana', '9 Dhur', '616 Sq. Feet',
       '0-4-5-0 Sq. Feet', '2.2 Aana', '0-3-9 Aana', '4500 Sq. Feet',
       '1000 Sq. Feet', '2600 Sq. Feet', '2.6 Aana', '1800 Aana',
       '.5 Ropani', '10-20-10-20 Sq. Meter', '127.18 Sq. Feet', '11 Dhur',
       'N/A Sq. Meter', '0-2-2-3 Aana', '2500 Ropani', '2 Paisa',
       '4ana Aana', '962 Sq. Feet', '752 Sq. Feet', '0-4-1-0 Sq. Feet',
       '10000 Aana', '540 Sq. Feet', 'N/A Haat', '710 Sq. Feet',
       '820 Sq. Feet', '2-1 Aana', '1.5 Aana', '1700 Sq. Feet',
       '1600 + Sq. Feet', '16000 Sq. Feet', '0-0-16-0 Kattha', '0 Aana',
       '0-3-2 Aana', '2548 Sq. Feet', '0-1-0-0 Aana', '1880 Sq. Feet',
       '0-4-1-2/139.11 Aana', '0-2-4-6 Aana', '2300 Aana', '792 Sq. Feet',
       '3300 Sq. Feet', '4.5 Dhur', '90.00 Sq. Feet', '2100 Ropani',
       '18000 Sq. Feet', '42000 Sq. Feet', '3700 Sq. Feet',
       '14582 Sq. Feet', '3420 Sq. Feet', '2250 Sq. Feet',
       '0-2-2-0 Sq. Feet', '750 Sq. Feet', '700 Aana', '0-8-0-0 Aana',
       '4000 Aana', '3400 Sq. Feet', '1385 Sq. Feet', '7076 Sq. Feet',
       '1785 sqft Aana', '2610 Sq. Feet', '2856 Sq. Feet', '0-4-0 Aana',
       '2100 Aana', '0-4-0-2 Aana', 'About 4000 Sq. Feet',
       '0-4-2-3 Ropani', '5-0-0-0 Ropani', '0-4-2-1 Aana',
       '7500 Sq. Feet', '8-2-0-0 Ropani', '1735 Sq. Feet',
       '1850 Sq. Feet', '1018 Aana', '1-4-0-0 Aana', '5.2.2 Aana',
       '28 Aana', '0-6-0-0 Aana', '0-2-0-2 Aana', '1 Kattha',
       '2738 Sq. Feet', '0-2-3-0 Aana', '1780 Sq. Feet', '1380 Sq. Feet',
       '5320 Sq. Feet', '6000 Sq. Feet', '11:10 Kattha', '159 Sq. Meter',
       '1348 Sq. Feet', '30 Aana', '3014 Sq. Feet', '2085 Sq. Feet',
       '13 Sq. Feet', '2900 Sq. Feet', '2 Ropani', '1300 Sq. Feet',
       '2045 Sq. Feet', '11000 Sq. Feet', '2890 Sq. Feet', '0.4.1.1 Aana',
       '22 Aana', '2698 Sq. Feet', '2464.12 Aana', '890 Aana',
       '5472 Sq. Feet', '4080.12 Sq. Feet', '13 Aana'], dtype=object)

In [245]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 462 entries, 0 to 2210
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       462 non-null    object
 1   Address     462 non-null    object
 2   City        462 non-null    object
 3   Price       462 non-null    int64
 4   Bedroom     462 non-null    int64
 5   Bathroom    462 non-null    int64
 6   Floors      320 non-null    float64
 7   Parking     462 non-null    int64
 8   Face        462 non-null    object
 9   Year        273 non-null    float64
 10  Views       462 non-null    object
 11  Area        462 non-null    object
 12  Road        462 non-null    object
 13  Road Width  462 non-null    object
 14  Road Type   351 non-null    object
 15  Build Area  462 non-null    object
 16  Posted      462 non-null    object
 17  Amenities   462 non-null    object
dtypes: float64(2), int64(4), object(12)
memory usage: 68.6+ KB

In [226]:
df.count()

Title         1280
Address       1280
City          1280
Price         1280
Bedroom       1280
Bathroom      1280
Floors         704
Parking       1280
Face          1280
Year           555
Views         1280
Area          1280
Road          1280
Road Width    1280
Road Type      959
Build Area    1280
Posted        1280
Amenities     1280
dtype: int64

In [242]:
df.count()

Title         462
Address       462
City          462
Price         462
Bedroom       462
Bathroom      462
Floors        320
Parking       462
Face          462
Year          273
Views         462
Area          462
Road          462
Road Width    462
Road Type     351
Build Area    462
Posted        462
Amenities     462
dtype: int64

In [241]:
df=df.loc[df['Build Area']!='N/A Ropani']